*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}


.inner-width{

  padding: 0 10px;
  display: flex; 
  background-color: rgb(54, 0, 0); 
  justify-content: space-around;
}

.title{
  color: rgb(181, 63, 30);
}

.navigation-menu{
  float: left;
  display: flex;
  align-items: center;
  min-height: 90px;
}

.nav2{
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
}

.nav2 a{
  margin-left: 7px;
  margin-right: 7px;
  color: #ddd;
  text-transform: uppercase;
  font-size: 14px;
  padding: 12px 20px;
  border-radius: 4px;
  transition: .3s linear;
  border: 1px solid white;
}

.nav2 a:hover{
  background: #953201;
  color: #fff;
  border-width: 2px;
  border-color: black;
  transform: scale(1.1);
  
}

.razmak{
  margin: 3px;
  color: white;
}


.navigation-menu a{
  margin-left: 10px;
  color: #ddd;
  text-transform: uppercase;
  font-size: 14px;
  padding: 12px 20px;
  border-radius: 4px;
  transition: .3s linear;
}

.navigation-menu a:hover{
  background: #953201;
  color: #fff;
  transform: scale(1.1);
}

table{
  border: 2px solid gray;
  border-radius: 3px;
  padding: 5px;
}

/*      O nama                  */

.centerArea {

  background-image: url("oNama.jpg");
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 200px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; 

  color: #fff;
  text-align: center;
  font-size: 40px;
  padding: 200px;

}

.centralTextDiv {

  background-color: #e3e3e3e8;

  text-align: justify;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 80px;
  padding-bottom: 60px;

}

.prviPasus {
  background-color: #fff;
  padding: 20px;
  
  border-radius: 30px;
  box-shadow: 5px 5px #888888;
}

/* pocetna*/

.image1{

  background-image: url("mainPage.jpg");
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 200px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; 

  color: #fff;
  text-align: center;
  font-size: 40px;
  padding: 200px;
}

.color{
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 500px; 
  text-align: center;
  padding-top: 40px;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 60px;


}

.image2{
  background-image: url("main2.jpg");
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 200px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; 

  color: #fff;
  text-align: center;
  font-size: 40px;
  padding: 200px;

}

.flex-roditelj {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5% 12%;

}

.flex-deca {
  width: 25%;
  padding: 0 2em;
}



  

.text2{
  text-align: center;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 80px;
  padding-bottom: 60px;

}

.image3{
  height: 200px;
  width: 200px;

}
